*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    padding-top: 80px;
}

nav{
    background: palegoldenrod;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    color: #333;
    padding: 0.5rem;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.nav-links li{
    margin: 0 15px;
    padding: 0.5rem;
    font-size: 1rem;
}

.nav-links a {
    color: #333;
    text-decoration: none;
}

.logo{
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Garamond", serif;
    font-style: italic;
}

h2{
    color: #333;
    font-size: 20px;
    font-weight: bold;
}

img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

/* Desktops */
@media (max-width: 1025px) {
    .logo {
        font-size: 2rem;
    }

    main {
        padding-top: 70px;
    }

    .hero{
        padding: 1rem;
    }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 1024px) {
    .nav-links {
        gap: 0.5rem;
        flex-direction: row;
        font-size: 0.95rem;
    }

    .hero {
        padding: 1.2rem;
    }

    img {
        max-width: 90%;
        margin: 0 auto;
        display: block;
    }
}

/* Phones */
@media (max-width: 480px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.3rem;
    }

    .logo {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    img {
        border-radius: 5px;
        max-width: 100%;
    }

    main {
        padding-top: 150px;
    }

    .hero {
        padding: 1rem;
        text-align: center;
    }
}
